.chapter[Introduction] {
	.b{This} is bold.
	.b{.i{These}} are nested attributes.
	.code{`Take this .i{literally}.`}
	.code{`Take this .i{lit``erally.}`}
}

.chapter[Installation] {
	.section[Getting Started] {

	}
}
