.chapter[Introduction] {
	.b{This} is bold.
	.b{.i{These}} are nested attributes.
	.code{{Take this .i{literally}.}}
	.code{{Take this .i{literally.\}}}
	.code{{Take this .i{li\terally.\}}}
}

.chapter[Installation] {
	.section[Getting Started] {

	}
}
